.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: rgb(78, 107, 117);
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipe {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.add-button {
  background: rgb(78, 107, 117);
  border: 2px;
  padding: 10px 10px;
  color: white;
}
