.navbar {
  width: 50%;
  padding: 0;
  margin: 0;
  height: 10vh;
}

.navbar .itemNavegacion {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  font-family: calibri;
}

.navbar .itemNavegacion:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}
